/* ------------------------------------- */
/* 			Contact Form 			 */
/* ------------------------------------- */
#contact {
	background-color: #203245;
	color: white;
}

#contact a {
	color: white;
}

/*-------   Contact Form End ------ */



/* ------------------------------------- */
/* 			Google Maps 			 */
/* ------------------------------------- */


#js-google-map {
	height: 400px;
}

/*-------   Google Maps End ------ */


