@import "variables.scss";

#landing {
    height: 75vh;
    padding: 8%;
    background-size: cover !important;
    background-position: center top; 
    background-image: url(../images/oneill-solicitors-blackrock-park.jpg);
    margin-bottom: 0px;
	vertical-align: middle;
	padding-top: 180px;
	overflow: hidden;
	position: relative;
}



#landing .video-wrap {
	position: absolute;
    overflow: hidden;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

#landing .video-overlay {
	position: absolute;
	background-color: rgba(0,0,0,0.25);
	height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}

.video-wrap video {
    min-width: 100%;
}

#videoObj {
    display: none;
}


/* ------------------------------------- */
/*             SVG animation              */
/* ------------------------------------- */

$animationTime: 4s;
$pathLength: 400px;
$fillColour: #FFFFFF;

$fillStartColour: rgba( $fillColour, .0 );

.svg-animate-entry  {
  stroke: white;
  stroke-width: 1px;
  fill: $fillStartColour;
  stroke-dasharray: $pathLength, $pathLength;
  stroke-dashoffset: $pathLength;
}

.js-loaded .svg-animate-entry {
  -webkit-animation: dash $animationTime linear forwards;
  -o-animation: dash $animationTime linear forwards;
  animation: dash $animationTime linear forwards;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: $pathLength;
        fill: $fillStartColour;
    }
    50% {
        stroke-dashoffset: $pathLength / 2;
        fill: $fillStartColour;
    }
    100% {
        stroke-dashoffset: 0;
        fill: $fillColour;
    }
}
@-o-keyframes dash {
    0% {
        stroke-dashoffset: $pathLength;
        fill: $fillStartColour;
    }
    50% {
        stroke-dashoffset: $pathLength / 2;
        fill: $fillStartColour;
    }
    100% {
        stroke-dashoffset: 0;
        fill: $fillColour;
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: $pathLength;
        fill: $fillStartColour;
    }
    50% {
        stroke-dashoffset: $pathLength / 2;
        fill: $fillStartColour;
    }
    100% {
        stroke-dashoffset: 0;
        fill: $fillColour;
    }
}



/*-------   SVG animation End ------ */


/* ------------------------------------- */
/*             Mobile              */
/* ------------------------------------- */
@media (max-width: 767px) { 
    h1 svg {
        max-width: 100%;
    }
    #landing {
        padding-top: 130px;
    }

}

/*-------   Mobile End ------ */
