@import "variables.scss";

.carousel-content { 
    display: flex;
    align-items: center; 
}

#quotes .item {
	min-height: 280px;
}

blockquote {
	border-left: none;
}



/*.item blockquote:before, .item blockquote:after {
    font-family: 'icons';
    position: absolute;
    font-size: 70px;
    top: -95px;
    color: #242526;
    text-shadow: 0 1px 1px rgba(255,255,255,0.1);
}*/
/*
.item blockquote:before {
    content: '\275d';
    content: '"';
}

.item blockquote:after {
    content: '\275d';
    content: '"';
}*/

.carousel-indicators li {
    background-color: #cfd8d7;
    width: 15px;
    height: 15px;
}

.carousel-indicators li.active {
    background-color: $primaryColour;
    width: 15px;
    height: 15px;
    margin: 1px;
}

.carousel-caption {
    bottom: 50px;
    color: #333333;
    text-shadow: none;
}

.carousel-caption:before {
    /*content: "\f10d";*/
    /*font-family: 'Fontawesome';*/
    content: " ";
    background-image: url(../images/quotation-marks.jpg);
    width: 30px;
    height: 30px;
    background-size: contain;
    position: absolute;
    left:0;
    top: 25px;
    float: left;
    margin-right: 10px;
}

.carousel-caption:after {
    /*content: "\f10d";*/
    /*font-family: 'Fontawesome';*/
    content: " ";
    background-image: url(../images/quotation-marks.jpg);
    width: 30px;
    height: 30px;
    background-size: contain;
    position: absolute;
    right:0;
    top: 25px;
    float: left;
    margin-right: 10px;
}

blockquote footer {
    margin-top: 40px;
}

