@import "variables.scss";

.carousel-content { 
    display: flex;
    align-items: center; 
}

#quotes .item {
	min-height: 380px;
    @media (max-width: 767px) { 
        min-height: 680px;
    }
}

blockquote {
	border-left: none;
}

.carousel-indicators {
    bottom: 30px;
}

.carousel-indicators li {
    background-color: #cfd8d7;
    width: 20px;
    height: 20px;
}

.carousel-indicators li.active {
    background-color: $highlightColour;
    width: 20px;
    height: 20px;
    margin-bottom: 1px;

}

.carousel-caption {
    bottom: 50px;
    color: #333333;
    text-shadow: none;
    @media (max-width: 767px) { 
        left: 5%;
        right: 5%;
    }
}

@media only screen and (min-width: 768px){
  
    .carousel-caption:before, .carousel-caption:after  {
        content: " ";
        width: 90px;
        height: 100px;
        background-size: cover;
        position: absolute;
        top: 10px;
        float: left;
    }

    .carousel-caption:before {
        background-image: url(../images/quote-open.png);
        left:0;
        margin-left: -80px;
    }

    .carousel-caption:after {
        background-image: url(../images/quote-close.png);
        right:0;
        margin-right: -80px;
    }
}

blockquote footer {
    margin-top: 40px;
}

