@import "variables.scss";

/****************************
    Padding and Margins
*****************************/

.sectionPadding {
	padding-top: $sectionPaddingTop;
	padding-bottom: $sectionPaddingBottom;
}



/* ------------------------------------- */
/* 			Spacing Helpers 			 */
/* ------------------------------------- */


.top-margin-lg {
    margin-top: 60px;
}
.top-margin-md {
    margin-top: 30px;
}
.top-margin-sm {
    margin-top: 15px;
}
.bottom-margin-lg {
    margin-bottom: 60px;
}
.bottom-margin-md {
    margin-bottom: 30px;
}
.bottom-margin-sm {
    margin-bottom: 15px;
}
.top-padding-lg {
    padding-top: 60px;
}
.top-padding-md {
    padding-top: 30px;
}
.top-padding-sm {
    padding-top: 15px;
}
.bottom-padding-lg {
    padding-bottom: 60px;
}
.bottom-padding-md {
    padding-bottom: 30px;
}
.bottom-padding-sm {
    padding-bottom: 15px;
}

/*-------   Spacing Helpers End ------ */

/****  Padding and Margins End ******/
