// Blue

$primaryColour: #203245;

$secondaryColour: #527191;


// Green

/*$primaryColour: #899c9a;

$secondaryColour: #bfccc2;*/

// Turquiose

/*$primaryColour: #34373c;

$secondaryColour: #00b29a;*/

// Grey
/*
$primaryColour: #4c626f;

$secondaryColour: #b4c5d5;
*/

// padding vars

$containerPadding: 40px;