@import "variables.scss";

#whoWeAre {
	background-color: $secondaryColour;
	color: white;
	position: relative;
}


#whoWeAre .img-container {
    background: url(../images/oneill-solicitors-meetings.jpg);
    background-position-x: 100%;
    background-position-y: 25%;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;

}
